<h2>Hello</h2>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= recipe.name %>
      <%= link_to '[show]', recipe_path(recipe)%>
      <%= link_to '[edit]', edit_recipe_path(recipe)%>
    </li>
  <% end%>
</ul>

<p><%= link_to '[Add a new recipe]', new_recipe_path %></p>